* {
    margin: 0;
    padding: 0; 
}

menu {
    background-color: white;
    width: 100%;
    height: 120px;
}
   
.menu-up {
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.menu-down {
    height: 45%;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}

.menu-izquierda a {
    text-decoration: none;
    color:white;
    font-family: sans-serif;
    font-weight: bold;
    display: inline-block;
    margin: 0 40px; 
    text-align: center;
}

.menu-izquierda a:hover {
    color: red;
}

.nuevo-contenedor {
    width: 100%;
    margin-top: 15px;
    height: 30px;
    background-color: whitesmoke; 
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}

.nuevo-contenedor a:hover {
    color: black;
}

.nuevo-contenedor a {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    color:red;
    display: inline-block;
}

.main-accordion-container{
    width: 100%;
}

.accordion-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    border-top: 1px black solid;
}
.accordion-item:hover {
    transform: scale(1.05);
    border: 1px black solid;
}

.accordion-title {
    width: 100%;
    background-color:red;
    color: white;
    font-family: sans-serif;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.accordion-desc {
    display: none;
    color: black;
    height: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font: bold;
    font-size: 20px;
    font-weight: 500;
}

.accordion-title .tab-active {
    font-size: 30px;
    pointer-events: visible;
}

.tab-active .accordion-desc {
    width: 100%;
    background-color: goldenrod;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10PX 0;
}

.card-list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
}
.card-item {
    height: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    box-shadow: 3px 3px 8px 0 black;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 20px 20px;
}

.card-item:hover {
    transform: scale(1.01) translateY(-3px);
}

.card-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    justify-content: center;
}

.card-info {
    height: auto;
    padding: 10px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.card-cta {
    margin-top: 20px;
    color: red;
    width: 120px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
    background-color: black;
    border-radius: 5px;
}
.card-cta:hover {
    text-decoration: underline;
}

@media (max-width: 1250px) {
    .card-item {
        width: 45%;
    }
}

@media (max-width: 1137px) {

    .menu-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-left: 0;
    }

    .menu-izquierda {
        display: none;
        margin-left: 0;
       
    }

    .hamburger-icon {
        width: 40px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 10px;
    }

    .hamburger-icon span {
        background-color: white;
        width: 100%;
        height: 6px;
        display: block;
        border-radius: 2px;
    }

    .menu-container.menu-open .menu-izquierda {
        padding: 20px 0;
        z-index: 2;
        width: 300px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        align-items:flex-start;
        background-color: white;
        border-radius: 10px;
        margin: 395PX 0 0 0;
    }

    .menu-container.menu-open .menu-izquierda a {
        color: black;
        display: flex;
        align-items: flex-start;
    }
}

@media (max-width: 830px) {

menu {
    height: auto;
}

.menu-up {
    justify-content: center;
    height: 120px;
}

.menu-up img {
    height: 100px;
}
.menu-down {
    height: 80px;
}

    .accordion-title {
        font-size: 30px;
        padding: 30px 0;
    }

   .tab-active .accordion-desc {
        width: 90%;
        font-size: 25px;
        text-align: center;
        padding: 30px;
    }

    .card-item {
        width: 90%;
        margin-bottom: 50px;
    }

    .card-title {
        font-size: 30px;    
    }

    .card-desc {
        font-size: 25px;
        height: auto;
    }

    .card-desc1 {
        font-size: 25px;
        height: auto;
    }

    .card-desc2 {
        font-size: 25px;
        height: auto;
    }

    .card-desc3 {
        font-size: 25px;
        height: auto;
    }

    .card-cta {
        width: auto;
        height: auto;
        font-size: 25px;
        padding: 10px;
    }

}